.hero {
	position: relative;
	@include bg-cover;

	padding: 9.5rem 0 $gutter 0;

	h1 {
		font-size: 6rem;
		font-weight: 600;
		color: #fff;
	}

	p {
		@include font-big;
		color: #fff;
	}
}

.hero__offer {
	margin: 0 0 $gutter 0;
}

.hero_main-page {

}


@media screen and (max-width: 1200px) {
	.hero {
		h1 {
			font-size: 5.5rem;
			font-weight: 600;
			color: #fff;
		}
	}
}

@media screen and (max-width: 992px) {
	.hero {
		h1 {
			font-size: 5rem;
			font-weight: 600;
			color: #fff;
		}
	}
}

@media screen and (max-width: 768px) {
	.hero {
		h1 {
			font-size: 4.1rem;
			font-weight: 600;
			color: #fff;
		}
	}
}

@media screen and (max-width: 568px) {
	.hero {
		h1 {
			font-size: 3.4rem;
			font-weight: 600;
			color: #fff;
		}
	}
}