.lead {
    padding: 0 2rem;
    padding: 4rem 5rem;
    background-color: $color_main;

    .container {
        p {
            font-size: 2.3rem;
            font-weight: 400;
            margin-bottom: 0;

            color: #fff;
        }
    }

}

@media screen and (max-width: 768px) {
	.lead {
		margin-left: -5%;
	    margin-right: -5%;
	    padding: 4rem 7%;

    .container {
        p {
            font-size: 1.9rem;
            font-weight: 400;
            margin-bottom: 0;

            color: #fff;
        }
    }
	}
}