.search {
	position: relative;
	margin: 0 auto 0 0;

	@include flex-row(nowrap, space-between, center);

	// &::after {
	// 	@include pseudo;
	// 	width: 2rem;
	// 	height: 2rem;
	// 	right: 1rem;
	// 	top: 50%;
	// 	transform: translateY(-50%);
	// 	background-image: url(/img/icons/i-search.png);
	// 	@include bg-contain;
	// }

	form {
		height: 3rem;
	    display: none;
	    position: absolute;
	    bottom: -3rem;
	    left: 0;
	    width: 26rem;
	    /* border-radius: 5px; */
	    overflow: hidden;

	    &.active {
	    	display: block;
	    }
	}
}