.nav {
	@include flex-row(nowrap, flex-start, center);
	z-index: 2;
	margin: 0 6rem 0 0;

	a {
		position: relative;
		
		// color: #fff;
		// padding: 1.2rem .9rem;


		text-decoration: none;

		cursor: pointer;
		transition: $tr;
		
		&:last-child {
			margin-right: 0;
		}

		span {
			position: relative;
			@include font-link;

			&::after {
				@include pseudo;
				width: 100%;
				height: 1px;
				left: 0;
				bottom: -.3rem;
				background-color: #fff;
				opacity: .2;

				// transform: translateY(-4px);
				transition: $tr;
			}
			
		}


		&:hover {
			span {
				&::after {
					opacity: .8;
					height: 2px;
					transform: translateY(2px);
				}
			}
		}
		
		// &:hover::before {
		// 	transform: translateY(-60%);
		// }

		// &:hover::after {
		// 	opacity: .15;
		// 	transform: translateY(0);
		// }
		&.active {
			font-weight: 600;
		}

	}
}

.nav_horizontal {
	a {
		color: #fff;
		margin: 0 1.8rem 0 0;
	    padding: 2rem 1.4rem;
	}
}

.nav_vertical {
	@include flex-row(wrap, flex-start, center);

	a {
		flex: 1 1 100%;
		margin: 0 0 .3rem 0;
	    padding: .5rem .4rem;
		span {
			color: $color_main;
			position: relative;
			@include font-link;

			&::after {
				@include pseudo;
				width: 100%;
				height: 1px;
				left: 0;
				bottom: -.3rem;
				background-color: $color_main;
				opacity: 0;

				// transform: translateY(-4px);
				transition: $tr;
			}
			
		}


		// &:hover {
		// 	span {
		// 		&::after {
		// 			opacity: .8;
		// 			height: 2px;
		// 			transform: translateY(2px);
		// 		}
		// 	}
		// }
		
		// &:hover::before {
		// 	transform: translateY(-60%);
		// }

		// &:hover::after {
		// 	opacity: .15;
		// 	transform: translateY(0);
		// }
		&.active {
			font-weight: 600;
		}

	}
}


@media screen and (max-width: 1200px) {
	.nav_horizontal {
		a {
			color: #fff;
			margin: 0 1.8rem 0 0;
		    padding: 2rem .8rem;

		    span {
		    	font-size: 1.2rem;
		    }
		}
	}

		.nav_vertical {
			margin: 0 0 0 0;
		a {
			// color: #fff;
			// margin: 0 1.8rem 0 0;
		 //    padding: 2rem .8rem;

		    span {
		    	font-size: 1.2rem;
		    }
		}
	}
}


@media screen and (max-width: 768px) {

}
