.category {
	flex: 1 1 $col-width * 6;
	max-width: $col-width * 6;

	padding: 0 1rem 2rem 1rem;

	min-height: 5.8rem;


	span {
		background-color: $color_main;
		display: block;
		padding: 2rem;

		color: #fff;
		
		transition: $tr;

		&:hover {
			background-color: lighten($color_main, 5%);
		}
	}
}



// @media screen and (min-width: 993px) and (max-width: 1200px) {
// 	.category {
// 		flex: 1 1 31%;

// 		&:nth-child(3n) {
// 			margin-right: 0;
// 		}
// 	}
// }

@media screen and (max-width: 992px) {
	.category {
		flex: 1 1 $col-width * 12;
		max-width: $col-width * 12;
	}
}

// @media screen and (max-width: 768px) {
// 	.category {
// 		flex: 1 1 100%;
// 		margin: 0 0 1rem 0;
// 	}
// }