$col-width: 100% / 12;

.flex-row {
	@include flex-row(wrap, flex-start, stretch);
	margin: 0 -1rem -2rem -1rem;
}
.col-8,
.col-6,
.col-4,
.col-3,
.col-2 {
	padding: 0 1rem 2rem 1rem;

	p:last-child,
	ul:last-child,
	li:last-child {
		margin-bottom: 0;
	}
}

.col-8 {
	flex: 1 1 $col-width * 8;
	max-width: $col-width * 8;
}
.col-6 {
	flex: 1 1 $col-width * 6;
	max-width: $col-width * 6;
}
.col-4 {
	flex: 1 1 $col-width * 4;
	max-width: $col-width * 4;
}
.col-3 {
	flex: 1 1 $col-width * 3;
	max-width: $col-width * 3;
}
.col-2 {
	flex: 1 1 $col-width * 2;
	max-width: $col-width * 2;
}

.max-width-full {
	max-width: 100% !important;
}


@media screen and (max-width: 992px) {
	.col-8 {
		flex: 1 1 $col-width * 6;
		max-width: $col-width * 6;
	}
	.col-3 {
		flex: 1 1 $col-width * 6;
		max-width: $col-width * 6;
	}
}

@media screen and (max-width: 768px) {

	.col-8,
	.col-6,
	.col-4,
	.col-3 {
		flex: 1 1 $col-width * 12;
		max-width: $col-width * 12;
	}

	.col-2 {
		flex: 1 1 $col-width * 4;
		max-width: $col-width * 4;
	}
}

@media screen and (max-width: 568px) {
	.col-2 {
		flex: 1 1 $col-width * 12;
		max-width: $col-width * 12;
	}
}