
.logo {
	display: inline-block;
	
	background-repeat: no-repeat;
	background-position: 50% 50%;
	

	transition: 100ms;

	&:hover {
		opacity: .9;
		transform: translateY(2px);
	}
}
.logo_white {
	margin: 0 0 $gutter 0;
	background-image: url(/img/logo-vertical-white.png); 
	width: 19.2rem;
	height: 17rem;
	@include bg-contain;
}
.logo_colored {
	margin: 0 0 1rem 0;
	background-image: url(/img/logo-horizontal-blue.png); 
	width: 24rem;
	height: 8.5rem;
	@include bg-contain;
}

.logo_hiriz-colored {
	margin: 0 0 1rem 0;
	background-image: url(/img/logo-horizontal-white.png); 
	width: 24rem;
	height: 8.5rem;
	@include bg-contain;
}

@media screen and (max-width: 1023px) {
	.logo_white {
		display: block;
		margin: 0 auto $gutter auto;
	}
}