.feature {
	padding: 3rem 2rem 3rem 3rem;

	// &:hover {
	// 	background-color: none;
	// 	background-image: url(/img/bg/bg-tile.jpg);
	// 	@include bg-cover;
	// }

	img {
		width: 10rem;
		margin: 0 auto 2.5rem auto;
	}
}

.feature__icon {
	margin: auto;
	height: 17.5rem;
	width: 100%;


	@include bg-contain;
	background-size: 80%;
	background-image: url(/img/bg/bg-rf.png);
}

.feature__num {
	@include font-h2;
	color: #fff;
	margin: 0 0 1.5rem 0;
}

.feature__desc {
	@include font-big;
	color: #fff;
	line-height: 85%;
}

.feature__list {
	list-style: none;
	padding: 2rem 2rem 2rem 3rem;
	li {
		color: #fff;
		list-style: none;
		font-weight: 600;
		padding-left: 0;
		&::before {
			display: none;
		}
	}
}

.feature_filled {
	padding: 0 !important; /*IE hack*/
	background-color: $color_main;
	height: 17rem;
	transition: $tr;

	&.feature_inner {
		padding: 0 0 2.5rem 0 !important;
		height: 100%;
		&:hover {
			background-color: $color_main;
		}
		& > span {
			display: block;
			padding: 1.5rem 1.5rem 1.5rem 3rem;
		    color: #fff;
		    font-size: 2.8rem;
		    font-weight: 200;
			margin: 0 0 10px 0;
			text-decoration: none;
			line-height: 110%;
			&:hover {
				text-decoration: none;
			}
		}

		.simplelist {
			margin: 0 $gutter/2 0 $gutter/2;
			padding: 0;
			li {
				&::before {
					background-color: #fff;
					transition: $tr;
				}
				&:hover::before {
					transform: translateX(2px);
					
				}
				a {
					color: #fff;
					text-decoration: none;
					transition: $tr;
					font-weight: 200;
					&:hover {
						text-decoration: underline;
						opacity: .95;
					}
				}
			}
		}
	}

	& > a {
	    display: block;
	    height: 17rem;
	    // margin: -3rem -2rem -3rem -3rem;
	    // padding: 3rem 2rem 3rem 3rem;

	    span {
	    	display: block;
	    	color: #fff;
	    	font-size: 3rem;
	    	font-weight: 300;
	    	padding: 2rem 2rem 2rem 3rem;
	    }
	}

	&:hover {
		background-color: rgba(7,81,177,.85);
	}
}
.feature_transp {
	background-color: rgba(7,81,177,.5);
}

@media screen and (max-width: 1200px) {
	.feature_filled {

		&.feature_inner {
			padding: 0 0 2.5rem 0 !important;

			& > a {
				margin: 0 0 20px 0;
				border-bottom: 1px solid #fff;
			}

			.simplelist {
				margin: 0 $gutter/4 0 $gutter/2;
				padding: 0;
				li {
					padding-left: 2rem;
					&::before {
						width: 6px;
						height: 6px;
						background-color: #fff;
					}
					a {
						color: #fff;
						text-decoration: none;
						transition: $tr;
						font-weight: 200;
						font-size: 14px;
						&:hover {
							text-decoration: underline;
							opacity: .95;
						}
					}
				}
			}
		}

		& > a {
		    span {
		    	font-size: 2rem;
		    }
		}
	}
}

@media screen and (max-width: 1024px) {
	.feature_filled {

		& > a {
			// margin: -3rem -2rem -3rem -3rem;
	    	// padding: 3rem 1.3rem 1.3rem 1.3rem;
		    span {
		    	font-size: 1.8rem;
		    }
		}
	}
}

@media screen and (max-width: 960px) {
	.feature_filled {

		& > a {
		    span {
		    	font-size: 1.6rem;
		    }
		}
	}
}

@media screen and (max-width: 768px) {
	.feature_filled {

		& > a {
			// margin: -3rem -2rem -3rem -3rem;
	    	// padding: 3rem 2rem 3rem 3rem;
		    span {
		    	font-size: 2.4rem;
		    }
		}
	}

	.feature__icon {
		display: none;
	}
}