.phone {
	position: relative;
	color: #fff;
	@include font-link;
	padding: 0 2rem 0 0;
	cursor: pointer;
	text-decoration: none;

	transition: $tr;

	&:visited,
	&:active {
		color: #fff;
	}

	&:hover {
		transform: translateY(2px);
	}

}