.btn {
	display: inline-block;
	position: relative;	
	overflow: hidden;
	font-size: 1.1rem;
	line-height: 1.5rem;
	text-decoration: none;
	font-weight: 600;
	// background-color: $color_main-b;
	padding: 1rem 1rem;
	cursor: pointer;
	
	&:visited {
	
	}

}

.btn_add-to-cart {
	position: relative;
	flex: 1 1 50%;
	text-align: center;
	border: 2px solid $color_main;
	padding: .8rem .8rem .8rem 4.5rem;
	
	text-transform: uppercase;
	color: $color_main;

	line-height: 2.2rem;

	transition: $tr;


	&:visited {color: $color_main;}
	&:active {color: $color_main;}

	&::before {
		@include pseudo;
		left: 0;
		top: 0;
		height: 100%;
		width: 3.7rem;
		background-color: $color_main;
	}

	&::after {
		@include pseudo;
		left: 0;
		top: 0;
		height: 100%;
		width: 3.7rem;
		background-image: url(/img/icons/i-cart.png);
		background-size: 1.7rem;
		background-repeat: no-repeat;
		background-position: 40% 50%;

		transition: $tr;
	}

	&:hover::after {
		transform: scale(1.2);
	}

	// &:hover::before {
	// 	background-color: #fff;
	// }
	// &:hover::after {
	// 	background-color: #fff;
	// 	background-image: url(/img/icons/i-cart_orange.png);
	// 	background-position: 70% 50%;
	// }
}


.btn-burger {
	margin: 0 0 0 0;
	height: 6rem;
	width: 6rem;
	background-color: #fff;

    // float: left;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    transition: 200ms;

	cursor: pointer;

	&:hover {
		.btn-burger__bar:first-child {
			transform: translateY(-2px);
		}
		.btn-burger__bar:last-child {
			transform: translateY(2px);
		}
	}
}
    

.btn-burger__bar {
	position: relative;
	width: 1.85rem;
    height: 3px;
    margin-bottom: .3rem;
    background-color: $color_main;
    border-radius: 2px;
    // background-color: rgba(255,255,255,.6);
    transition: $tr;
    transform-origin: center, center;

    	&:nth-child(1):after {
    		transition-delay: 100ms;
    	}
    	&:nth-child(2):after {
    		transition-delay: 200ms;
    	}
    	&:nth-child(3):after {
    		transition-delay: 300ms;
    	}

    &:after {
    	@include pseudo;
    	top: 0;
    	left: 0;
    	width: 0%;
    	height: 100%;
    	background-color: #fff;
    	z-index: 4;

    	transition: $tr;
    }
}

.btn_search {
	width: 6rem;
	height: 6rem;
	cursor: pointer;
	
	background-color: transparent;
	background-image: url(/img/icons/i-search.png);
	background-size: 2.2rem;
	background-repeat: no-repeat;
	background-position: 50% 50%;

}


.btn_buy {
	display: inline-block;
	position: relative;
    padding: 1.6rem 1.6rem 1.6rem 6rem;

    background-image: url(/img/bg/bg-btn.jpg);
    @include bg-cover;

    border: 0;
    outline: 0;
	
	color: #fff;
	font-size: 1.6rem;
	font-weight: 600;
	text-decoration: none;
	cursor: pointer;
	transition: $tr;

	&::before {
		@include pseudo;

		width: 2rem;
		height: 2rem;
		left: 2rem;
		top: 50%;
		transform: translateY(-50%);

		background-image: url(/img/icons/i-checkbox.png);
		@include bg-contain;
		transition: $tr;

	}


    &:hover {
    	opacity: .85;
    	&::before {
    		transform: translateY(-50%) translateX(3px);
    	}
    }
}



// ======================================================

















.btn-catalog {
	position: relative;
	flex: 0 0 19.2rem;
	padding: 0 2.5rem 0 0;
	height: 100%;
	@include flex-row(nowrap, space-between, center);
	
	color: #fff;
	font-size: 1.6rem;
	font-weight: 600;
	text-decoration: none;

	&:visited,
	&:active {color: #fff;}

	&:before {
		@include pseudo;
	    right: 0;
	    top: 48%;
	    transform: translateY(-50%) rotate(45deg);
	    width: .6rem;
	    height: .6rem;
	    background: transparent;
	    border-bottom: 2px solid #fff;
	    border-right: 2px solid #fff;
	}
}



.btn-catalog-brand {
	position: relative;
	flex: 0 0 20.3rem;
	height: 100%;
	padding: 0 0 0 3.8rem;
	color: #fff;
	text-decoration: none;
	@include flex-row(nowrap, space-between, center);

	&:visited,
	&:active {color: #fff;}

	&:before {
		@include pseudo;
	    left: 0;
	    top: 48%;
	    width: 2.5rem;
	    height: 2.5rem;
	    background-image: url(/img/icons/catalog.png);
	    transform: translateY(-50%);
	    @include bg-contain;
	}
}

.btn_download {
    display: inline-block;
    margin: 0 .5rem .5rem 0;
    position: relative;
    padding: 1rem;
    text-decoration: none;
    padding-left: 0;
    padding: 2rem;
    color: #ffffff;
    -webkit-transition: 200ms;
    -o-transition: 200ms;
    text-decoration: underline;
    /* background: #2987bf; */
    background: url(/img/icons/i-download.png) #25af69 no-repeat;
    background-size: 2rem;
    background-position: 1.5rem center;
    padding: 1rem 2rem 1rem 5rem;
    text-decoration: none;

    &:visited,
    &:active,
    &:focus {
    	color: #ffffff;
    }
}

.btn_back {
    background-image: url(/img/icons/i-arrow-left_white.png);
    background-repeat: no-repeat;
    background-size: 1.9rem;
    background-position: 15px center;
    padding-left: 50px;
    line-height: 150%;
    transition: 200ms;
    padding: .4rem 1.8rem .4rem 4.5rem;
    font-size: 1.4rem;

    &:visited,
    &:active,
    &:focus {
    	color: #ffffff;
    }

    &:hover {
    	background-position: 10px center;
    }
}

@media screen and (max-width: 768px) {
	.btn,
	.btn_download {
		font-size: 1.6rem;
	}
}

@media screen and (max-width: 414px) {
	.btn,
	.btn_download {
		font-size: 1.5rem;
		line-height: 1.8rem;
	}
}