.page-footer {
	flex: none;
	background-color: #fff;
	padding: 6rem 0;
	width: 100%;

	// .container {
	// 	@include flex-row(nowrap, space-between, stretch);
	// }

	.nav_vertical {
		padding: 0 1rem 2rem 3rem;
	}

	p {
		padding: 0 0 0 3rem;
	}

	.logo {
		margin: 0 0 1rem 3rem;
	}

}



@media screen and (max-width: 768px) {
	.page-footer {
		.nav_vertical {
			padding: 0 1rem 2rem 0;
			display: block;
			text-align: center;

			a {
				span {
					font-size: 1.4rem;
				}
			}
		}

		p {
			padding: 0 0 0 0;
			text-align: center;
		}

		.logo {
			display: block;
			margin: 0 auto 2rem auto;
		}

		a.phone {
			text-align: center;
			font-size: 1.6rem;
		}
	}
}

@media screen and (max-width: 568px) {
	.page-footer {
		.nav_vertical {
			padding: 0 1rem 2rem 0;
			display: flex;

			a {
				span {
					font-size: 1.4rem;
				}
			}
		}

		p {
			padding: 0 0 0 0;
			text-align: center;
		}

		.logo {
			display: block;
			margin: 0 auto 2rem auto;
		}

		a.phone {
			text-align: center;
			font-size: 1.6rem;
		}
	}
}