.sticky-header {
	display: none;

	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 4.4rem;
	padding: 0rem 0;

	background-color: #fff;
	box-shadow: 0px 0px 25px 1px rgba(0,0,0,.6);
	z-index: 9;

	.container {
		@include flex-row(nowrap, space-between,center);
	}

	.btn_search {
		display: none;
	}

	// padding: 3.1rem 0 5.5rem 0;

	.btn-burger {
		margin: 0 0 0 0;
		height: 4.4rem;
		width: 4.4rem;
		background-color: $color_main;

	    // float: left;
	    display: flex;
	    flex-flow: column nowrap;
	    justify-content: center;
	    align-items: center;
	    transition: 200ms;

		cursor: pointer;
	    
	}

	.btn-burger__bar {
		position: relative;
		width: 1.85rem;
	    height: 2px;
	    margin-bottom: .3rem;
	    background-color: #fff;
	    border-radius: 2px;
	    // background-color: rgba(255,255,255,.6);
	    transition: $tr;
	    transform-origin: center, center;

	    	&:nth-child(1):after {
	    		transition-delay: 100ms;
	    	}
	    	&:nth-child(2):after {
	    		transition-delay: 200ms;
	    	}
	    	&:nth-child(3):after {
	    		transition-delay: 300ms;
	    	}

	    &:after {
	    	@include pseudo;
	    	top: 0;
	    	left: 0;
	    	width: 0%;
	    	height: 100%;
	    	background-color: #fff;
	    	z-index: 4;

	    	transition: $tr;
	    }
	}

	#progress {
		position: absolute;
	    top: 0px;
	    left: 0;
	    width: 0%;
	    height: 1px;
	    background-color: $color_main;
	}

	.nav_horizontal {
		margin: 0 0 0 0;
		a {
			color: $color_main;
			margin: 0 1.8rem 0 0;
		    padding: 1rem 1.4rem;

		    span::after {
		    	background-color: $color_main;
		    	opacity: 0;
		    }

    		&:hover {
				span {
					&::after {
						opacity: .8;
						height: 2px;
						transform: translateY(2px);
					}
				}
			}
		}
	}

	.phone {
		color: $color_main;
		margin: 0;
		padding: 0;
	}
}

@media screen and (max-width: 1024px) {
	.sticky-header {
		.nav {
			a {
				margin: 0 .9rem 0 0;
				padding: 1rem .8rem;
				span {
					font-size: 1.2rem;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.sticky-header {
		.nav {
			display: none;
		}
	}
}