.accordeon {

}


.accordeon-item {
 	list-style: none;
 	// cursor: pointer;
 	transition: 200ms;

		

	&.opened {
		& > .accordeon-item__label {
			&:after {
				transform: translateY(-50%) rotate(225deg);
			}

		}
	}
}
.accordeon-item__label {
	position: relative;
	color: $color_main;

	cursor: pointer;

	&:after {
		@include pseudo;

		right: 3rem;
		top: 50%;
		transform-origin: 66%;
		transform: translateY(-50%) rotate(45deg);

		border-bottom: 1px solid $color_main;
		border-right: 1px solid $color_main;

		width: 1rem;
		height: 1rem;

		transition: 300ms;
	}


}
.accordeon-item__content {
	display: none;
	padding: 0 2rem 2rem 2rem;
}

